{% extends 'base.html.twig' %}
{% block title%}Blog{% endblock %}
{% block body%}
<!-- Principal Content Start -->
   <div id="blog">
     <div class="container">
      <div class="row">

      <!-- Blocks of Posts -->
        <div class="col-xs-12 col-sm-8 row">
            {% for post in posts.results %}
            {{ include ('partials/post.html.twig', {'post': post}) }}
            {% endfor %}
            {% if posts.hasToPaginate %}
            <div class="text-left">
                <ul class="pagination">
                    {% if posts.hasPreviousPage %}
                        <li class="prev"><a href="{{ path('blog', {page: posts.previousPage}) }}" rel="previous"><i class="fa fw fa-long-arrow-left"></i> Previous</a></li>
                    {% else %}
                        <li class="prev disabled"><span><i class="fa fw fa-arrow-left"></i> Previous </span></li>
                    {% endif %}

                    {% for i in 1..posts.lastPage %}
                        {% if i == posts.currentPage %}
                            <li class="active"><span>{{ i }}</span></li>
                        {% else %}
                            <li><a href="{{ path('blog', {page: i}) }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if posts.hasNextPage %}
                        <li class="next"><a href="{{ path('blog', {page: posts.nextPage}) }}" rel="next">Next <i class="fa fw fa-arrow-right"></i></a></li>
                    {% else %}
                        <li class="next disabled"><span>Next <i class="fa fw fa-arrow-right"></i></span></li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
        </div>
      <!-- End of Blog Post -->  

      <!-- Side bar -->  
        <div class="col-xs-12 col-sm-4">
           <form class="form-horizontal">
             <div class="input-group">
               <input class="form-control" type="text" placeholder="Research">
               <span class="input-group-btn">
                  <a href="" class="btn"><i class="fa fa-search"></i></a>
               </span>
             </div>
           </form>
           <div class="panel">
             <div class="panel-heading">
               <h4>Categories</h4>
             </div>
             <div class="panel-body">
               <ul class="nav">
                 <li><a href="#">Category I</a></li>
                 <li><a href="#">Category II</a></li>
                 <li><a href="#">Category III</a></li>
                 <li><a href="#">Category IV</a></li>
                 <li class="last"><a href="#">Category V</a></li>
               </ul>
             </div>
           </div>
           <div class="well">
             <h4>Soluta</h4>
             <p>Quod soluta corrupti earum officia vel inventore vitae quidem, consequuntur odit impedit.</p>
           </div>
            <h3>Recent Posts</h3>
            <hr>
             <div class="post">
               <div class="post-heading">
                 <span>10 APRIL</span>
                 <img class="img-responsive" src="images/blog/wedding.jpg" alt="post's picture">
               </div>
               <div class="post-body">
                 <span>
                 <i class="fa fa-heart sr-icons"></i> 10
                 <i class="fa fa-comments sr-icons"></i> 10
                 </span>
                 <h4 class="text-left"><a href=""><strong>Aliquam soluta</strong></a></h4>
               </div>
             </div>
             <div class="post">
               <div class="post-heading">
                 <span>12 MAY</span>
                 <img class="img-responsive" src="images/blog/woman.jpg" alt="post's picture">
               </div>
               <div class="post-body">
                 <span>
                 <i class="fa fa-heart sr-icons"></i> 10
                 <i class="fa fa-comments sr-icons"></i> 10
                 </span>
                 <h4 class="text-left"><a href=""><strong>Consequuntur</strong></a></h4>
               </div>
             </div>
        </div>
      <!-- End of Side bar --> 
       
      </div>
     </div>
   </div>
<!-- End of Principal Content Start --> 
{% endblock %}