{% extends 'base.html.twig' %}
{% block title%}Post{% endblock %}
{% block body%}
<!-- Principal Content Start -->
   <div id="single">
     <div class="container">
      {% if not post %}
      <h2>Post not found</h2>
      {% else %}
    <!-- Full Article -->
      <div class="row">
      <div class="post-heading">
        <img class="img-responsive" src="{{ asset('images/blog/' ~ post.image) }}" alt="{{post.title}}">
      </div>
      <h2>{{post.title}}</h2>
      <hr class="subtitle">
      <div class=" block1">
      <div class="col-xs-12 col-sm-9">
       <p>
       {{post.content}}
       </p>
        <h4>- By {{ post.user.name}}</h4>
        <hr>
        <ul class="list-inline">
          <li>{{ post.publishedAt | date('d') }} {{ post.publishedAt | date('F') }}</li>
          <li><a class="page-scroll" href="#form">COMMENT</a> |</li>
          <li><a href="">LIKE</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4>Recent Post</h4>
        <hr class="subtitle1">
        {% for recent in recents %}
        {{ include ('partials/recent_post.html.twig', {'recent': recent}) }}
        {% endfor %}
      </div>
      </div>
      </div>
    <!-- End of Full Article -->

    <!-- Comments -->
      <div class="row">
      <div class="col-xs-12 col-sm-12 block2">
        {% for comment in post.comments %}
        {{ include ('partials/comment.html.twig', {'comment': comment}) }}
        {% endfor %}
          <hr class="line">
            {{ include ('partials/form_comment.html.twig') }}
          </div>
      </div>
      </div>
    <!-- End of Comments -->  
     </div>
      {% endif %}

   </div>
<!-- End of Principal Content Start -->
{% endblock %}